- form_for @question do |f|
  = f.error_messages
  %fieldset
    = f.label :title, "What's your question?"
    = f.text_field :title
  %fieldset
    = f.label :body, "Enter question details:"
    = f.text_area :body
  %fieldset
    = f.submit "Ask your question!"
