.controls
  - if current_user == @question.author
    = link_to "Edit", edit_question_path
%h2=h @question.title

%p=h @question.body


%p
  Asked by
  = author_link @question

%h3= pluralize(@question.answers.count, 'answer')

%ul
  - @question.answers.each do |answer|
    %li
      =h answer.body
      Answered by
      = author_link answer

%h2 Answer this question

- form_for [@question, @answer] do |f|
  = f.error_messages
  = f.text_area :body, :rows => 5
  = f.submit "Post answer"
