%h2=h @question.title

%p=h @question.body

= link_to "Edit question", edit_question_path

%h3= pluralize(@question.answers.count, 'answer')

%ul
  - @question.answers.each do |answer|
    %li=h answer.body

%h2 Answer this question

- form_for [@question, @answer] do |f|
  = f.error_messages
  = f.text_area :body, :rows => 5
  = f.submit "Post answer"
