- form_for @user do |f|
  = f.error_messages
  %fieldset
    = f.label :username, "Username"
    = f.text_field :username
  %fieldset
    = f.label :email, "Email"
    = f.text_field :email
  %fieldset
    = f.label :password, "Password"
    = f.password_field :password
  %fieldset
    = f.label :password_confirmation, "Password confirmation"
    = f.password_field :password_confirmation
  %fieldset
    = f.submit "Register"
