%h2= @user.username

%ul
  %li= "Member for #{time_ago_in_words(@user.created_at)}"
  %li= "Casted #{@user.vote_ups} up votes and #{@user.vote_downs} down votes"
  %li= "#{@user.reputation} reputation points earned"

%h3 Recent activity
= render_recent_activities(@user)

%h3
  All questions asked
  = "(#{@user.questions.count})"
%ul
  - @user.questions.each do |question|
    %li= link_to question.title, question

%h3
  All questions answered
  = "(#{@user.answers.count})"
%ul
  - @user.answers.each do |answer|
    %li= link_to answer.question.title, answer
