!!! Strict
%html{:xmlns =>"http://www.w3.org/1999/xhtml", 'xml:lang' => "en", :lang=> "en"}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => %'text/html;charset=utf-8'}/
    %title Routing Error
    = stylesheet_link_tag "application"
  %body
    #header
      %ul#user_nav.controls.chrome
        - if logged_in?
          %li= link_to "Profile", user_path(current_user)
          %li= link_to "Log out", logout_path
        - else
          %li= link_to "Register", new_user_path
          %li= link_to "Log in", login_path
      %h1
        = link_to "Routing Error", root_path
    = flash_messages
    = yield
