!!! Strict
%html{:xmlns =>"http://www.w3.org/1999/xhtml", 'xml:lang' => "en", :lang=> "en"}
  %head
    %meta{'http-equiv' => 'Content-Type', :content => %'text/html;charset=utf-8'}/
    %title Routing Error
    = stylesheet_link_tag 'screen.css', :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = javascript_include_tag 'jquery', 'jquery.form', 'application'
  %body
    .container{:class => (yield :page_type) || "default"}
      #header
        %ul#site-actions
          - if logged_in?
            %li.first= link_to "Profile", user_path(current_user)
            %li.last= link_to "Log out", logout_path
          - else
            %li.first= link_to "Register", new_user_path
            %li.last= link_to "Log in", login_path
        %h1
          = link_to "Routing Error", root_path
      = flash_messages
      #sidebar
        = yield :sidebar
      #content
        = yield
